:root {
  --theme-color: #191919;
  --theme-background: #eee;
}

.dark {
  --theme-background: #191919;
  --theme-button: #fcd535;
  --theme-text: #191919;
  --theme-tabbar: #2c2c2c;
  --theme-tabbar-text-disable: #8c8c8c;
  --theme-tabbar-text-active: #fff;
  --theme-point-background: #191919;
}

.light {
  --theme-background: #191919;
  --theme-button: #fcd535;
  --theme-tabbar: #fff;
  --theme-text: #191919;
  --theme-tabbar-text-disable: #8c8c8c;
  --theme-tabbar-text-active: #fff;
}
